<!DOCTYPE html>
<html>
<head>
    <title>Compra Finalizada</title>
</head>
<body>
    <h1>¡Gracias por tu compra!</h1>
<p>Un correo con los detalles de tu compra ha sido enviado.</p>

<h3>Detalles de la compra:</h3>
<p><strong>Fecha y hora de compra:</strong> {{purchaseTime}}</p>
<p><strong>Productos comprados:</strong></p>
<pre>{{products}}</pre>
<p><strong>Total:</strong> ${{totalAmount}}</p>
<a href="/products">Volver a Productos</a>
</body>
</html>